@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  
  font-family: "Roboto Slab" ;
  box-sizing: border-box;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 5px auto ;
}